.img-about {
    width: 23.5rem;
    border-radius: 32px;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.container-About{
    background-color: #fff ;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
}

.container-About h1 {
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 2.4rem);
}

.container-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.container-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: clamp(0.7rem, 2vw, 0.8rem);
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: 600;
    gap: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    margin: auto;
}

.container-text h2 {
    color: #333333;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: clamp(1.2rem, 5vw, 1.7rem);

}

.container-story {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-mission {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.container-vision {
    height: fit-content;;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width: 600px) {
    .container-text {
        width: 100%;
    }
}