.tech {
    min-height: 470px;
    border-top: 3px solid #bec0b4;
}

.container-tech {
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
    gap: 5rem;
}

.container-tech-text {
    color: #333333;
    letter-spacing: 2px;
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 900;
    gap: 1rem;
}

.container-tech-text p {
    font-size: 1rem;
    letter-spacing: 2px;
}

.container-tech-skill {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
}

.nav-img-tech {
    width: 100px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.container-tech-skill p {
    width: 5.625rem;
    color: #333333;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
}

@media screen and (max-width:900px) {
    .container-tech-skill {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:420px) {
    .container-tech-skill {
        grid-template-columns: repeat(2, 1fr);
    }
}